---
title: Ray Bogman
layout: page
description: Ray Bogman - Tech Lead TEDxAmstelveen
assets: assets/team/ray-bogman.jpg
height: 150
width: 150
linkedin: raybogman
twitter: raybogman
instagram: raybogman
website: https://raybogman.com/
---

{% include img.html %}

<p>Ray Bogman is een IT-professional en Magento evangelist. In 1993 begon hij met computers te werken als hobby. In het verleden heeft hij gewerkt voor KPN, een groot Nederlands Telecombedrijf, als senior security officer.</p>

<p>Bij SupportDesk B.V. is hij een Magento, Joomla, Oro, web / server / mobile performance specialist en security evangelist. Zijn focus tijdens de dag is business / product development en trainen van webmasters en consultants over de kracht van Magento, van de basis tot een geavanceerd niveau. Hij heeft sinds 2005 meer dan 1000 Magento en 750 Joomla-experts over de hele wereld opgeleid.</p>

<p>In 2016 werd zijn eerste Magento boek gepubliceerd, Magento 2 Cookbook. Eind 2017 publiceerde hij een nieuw Magento Open Source project voor performance en UX testen genaamd https://mage.coach/.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
{% include social-instagram.html %}
{% include social-website.html %}
