---
layout: default
title:
description:
video: O5ERrI1vyKQ
assets:
img: assets/cover/tedxamstelveen-once-upon-a-time-cover.jpg
cover: assets/cover/tedxamstelveen-once-upon-a-time-full.jpg
redirect_from:
  - /talks/
  - /nieuws/
  - /team/esther-kwaaitaal/
  - /logo/
---
  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    {% if page.video == blank %}
    <amp-video src="/assets/cover/{{ page.assets }}" width="404" height="720" layout="responsive" controls autoplay loop media="(max-width: 415px)"></amp-video>
    <amp-video src="/assets/cover/{{ page.assets }}" layout="fixed-height" height="720" controls autoplay loop media="(min-width: 416px)"></amp-video>
    {% else %}
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="{{ page.img }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="{{ page.img }}" media="(min-width: 416px)"></amp-img>
    {% endif %}
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p0">
        <h1 class="ampstart-fullpage-hero-heading mb0 herocover">
          <span class="ampstart-fullpage-hero-heading-text title">
            {{ site.title }}
          </span>
        </h1>
        <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.intro }}
          </span>
        </h2>
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Lees verder</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Lees verder</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">

  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <meta itemprop="mainEntityOfPage">
          <meta itemprop="author" content="Ray Bogman"/>
          <meta itemprop="image" content="{{ site.url }}/{{site.data.author["author"]["assets"]}}"/>
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="headline"><a href="{{ site.url }}/{{ post.url | remove: '/'}}" itemprop="url mainEntityOfPage">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p class="post-description">{{ post.excerpt | strip_html | truncatewords: 100 }}</p>
            <p><a class="caps h5" href="{{ site.url }}/{{ post.url | remove: '/'}}">
              <span class="ampstart-readmore-text px1">Lees verder</span></a>
            </p>
          </section>
          <div class="post-meta">

            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
              <div class="imageobject" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                   <amp-img width="0" height="0" src="{{ site.url }}/{{site.data.author["author"]["assets"]}}"></amp-img>
                   <meta itemprop="url" content="{{ site.url }}/{{site.data.author["author"]["assets"]}}">
                   <meta itemprop="width" content="600">
                   <meta itemprop="height" content="600">
                 </div>
              <meta itemprop="image" content="{{ site.url }}/{{site.data.author["author"]["assets"]}}"/>

              {% for author in site.data.authors %}
                {% if author[1].username == post.author %}
                  {% if author[1].assets %}
                    <amp-img width="24" height="24" class="author-thumb" layout="responsive" src="{{ site.url }}/{{author[1].assets}}" alt="{{author[1].name}}"></amp-img>
                  {% endif %}
                  <div itemprop="name"><a href="{{site.url}}/authors/#{{author[1].username}}">{{author[1].name}}</a></div>
                {% endif %}
              {% endfor %}
            </div>

              {% if post.tags.size > 0 %}
                in
                {% for tag in post.tags %}
                    {% if forloop.index == post.tags.size %}
                       <a href='{{site.url}}/tags/#{{tag}}'>{{ tag | capitalize }}</a>
                    {% else %}
                       <a href='{{site.url}}/tags/#{{tag}}'>{{ tag | capitalize }}</a>,
                    {% endif %}
                {% endfor %}
            {% endif %}

              <time itemprop="datePublished" class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
              <meta itemprop="dateModified" content="{{ post.date | date:'%Y-%m-%d' }}"/>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.url }}/page{{paginator.next_page}}">&larr; Vorige</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Vorige</a>
    {% endif %}
    <span class="page-number">Pagina {{ paginator.page }} van {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.url }}/">Volgende &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.url }}/page{{paginator.previous_page}}">Volgende &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Volgende &rarr;</a>
    {% endif %}
  </nav>

</main>

{% include footer.html %}
