---
title: Margo Rijerkerk
layout: page
description: Margo Rijerkerk
assets: assets/sprekers/margo-rijerkerk.jpg
social: assets/sprekers/social/margo-rijerkerk.jpg
height: 150
width: 150
linkedin: margo-rijerkerk-7b378b43
twitter: MargoRijerkerk
instagram:
facebook: margo.rijerkerk
tedx-youtube-video: 8cuRTyWAqmU
nav: members

---
{% include img.html %}

<p>Margo Rijerkerk, projectleider van Amstelveenvoorelkaar, dacht altijd: ‘helpen doe je voor een ander'. Je maakt iemand blij door iets voor iemand te doen. Pas toen ze eind 2016 aanbelde bij een Syrisch gezin kwam ze er achter dat helpen over veel meer gaat. <span class="redx">Margo</span> neemt ons mee in wat zij precies ontdekte en laat zien hoe helpen ook jou happy kan maken.<p>

<p>Margo is projectleider van Amstelveen- en Aalsmeervoorelkaar bij de Vrijwilligerscentrale Amstelland. Hier bedenkt en implementeert ze steeds nieuwe manieren om méér en nieuwe groepen vrijwilligers te bereiken. Daarnaast is Margo oprichtster van Gohappyoffline.nl. Op dit blog deelt ze wat zij doet om vaker offline te zijn en wat dit haar brengt.<p>

<p>Margo <span class="redx">x</span> Verbinder <span class="redx">x</span> Amstelveenvoorelkaar <span class="redx">x</span> Helpen maakt happy <span class="redx">x</span> Uit je bubble <span class="redx">x</span> Happy <span class="redx">x</span> Positief <span class="redx">x</span> Nieuwsgierig <span class="redx">x</span><p>

{% include tedx-youtube-video.html %}
