---
layout: page
title: TEDxAmstelveen 2018 Archief - Thema: Verbinding
description: TEDxAmstelveen 2018 Archief - Thema: Verbinding
comments: false
permalink: /2018/
nav: 2018
---

<p>TEDxAmstelveen 2018 Archief - Thema: Verbinding</p>

<div class="card-container">
  {% for member in site.data.sprekers %}
    {% if member.status == 'active' or member.year == '2018' %}
    <div class="author-section mb4">
      <a title="{{ member.name }}" href="{{ member.url }}">
        <amp-img src="{{ site.url }}/assets/sprekers/{{ member.pic }}.jpg" width="100" height="100" layout="responsive" alt="{{ member.name }}" class="author-thumb-post"></amp-img>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
