---
title: Nissrine Aissati
layout: page
description: Nissrine Aissati
assets: assets/sprekers/nissrine-aissati.jpg
social: assets/sprekers/social/nissrine-aissati.jpg
height: 150
width: 150
linkedin: nissrine-aissati-345a33141
twitter:
instagram:
facebook: profile.php?id=100012752708142
tedx-youtube-video: fYmBItS3pjw
nav: members

---
{% include img.html %}

<p>We hebben allemaal snel een oordeel. Enkel en alleen op basis van wat wij ooit gehoord of gezien hebben. Maar wat weten wij echt over elkaar? En wat voor invloed heeft dit op ons gedrag en op onze maatschappij? Als trainer binnen Young Impact leert <span class="redx">Nissrine</span> vooral jongeren om hun kwaliteiten te leren kennen en deze om te zetten in iets goeds, iets oprechts, voor een ander.<p>

<p>Nissrine gelooft dat als wij echt willen dat Nederland niet nog verder uit elkaar groeit, dat we moeten beginnen bij onze toekomst; namelijk bij de jongeren. Zij heeft haar droom al uitgewerkt en deelt deze met ons in Amstelveen.<p>

<p>Nissrine <span class="redx">x</span> Social <span class="redx">x</span> Workshops <span class="redx">x</span> Trainer <span class="redx">x</span> Vooroordelen <span class="redx">x</span> Young Impact <span class="redx">x</span> Maatschappij <span class="redx">x</span> Jongeren <span class="redx">x</span> Toekomst <span class="redx">x</span><p>

{% include tedx-youtube-video.html %}
