---
title: Edward Stronach Hardy
layout: page
description: Edward Stronach Hardy - Sprekerscoach TEDxAmstelveen
keywords:
image: edward-stronach-hardy.jpg
imagedir: team
height: 200
width: 200
linkedin: edwardstronachhardy
twitter:
---

{% include img.html %}

<p>Verbinding is het thema in maart 2018 in Amstelveen. Ik vind het een prachtig thema. Sterker nog ik heb er mijn werk van gemaakt. Als internationaal spreker, trainer en coach daag ik individuen en organisaties uit om hun talent ten volle te leven. Ik heb veel met het thema Leiderschap en Lidmaatschap.</p><p>Om in de buitenwereld van betekenis te zijn, moet je eerst naar binnen. Je hebt eerst met jezelf te verbinden om vervolgens verbinding te kunnen maken met een ander. Waneer ik bijdraag aan het succes van een ander, ben ik zelf succesvol. Elke dag krijg ik hier heel veel energie van.</p><p>
Al meer dan 21 jaar sport ik in Amstelveen…sinds anderhalf jaar woon ik er ook. Het bevalt me meer dan goed. Juist daarom zet ik me graag in om van de eerste TedxAmstelveen een bijzonder inspirerende sessie te maken!</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
