---
layout: page
title: TEDxAmstelveen Team leden
description: Overzicht van alle team leden van TEDxAmstelveen.
comments: false
permalink: /team/
nav: team
---

<p>Het {{site.title}} evenement wordt georganiseerd door vrijwilligers uit Amstelveen en omstreken. Het evenement heeft geen commercieel, religieus of politiek doel. Het doel is om te inspireren, enthousiasmeren en verbinden. Wil jij meehelpen met {{site.title}} kijk dan <a href="{{site.url}}/jobs/" title="{{site.title}} vacatures">hier</a> voor {{site.title}} vacatures.</p>

<div class="tablet-up">
     <div class="card-container">
       {% for member in site.data.team | sample %}
       {% if member.status == 'active' %}
       <div class="card">
         <div class="card__image">
           <a title="{{ member.name }}" href="{{ member.url }}">
             <amp-img src="{{ site.url }}/assets/team/{{ member.pic }}.jpg" width="100" height="100" layout="responsive" alt="{{ member.name }}" class="mb3"></amp-img>
           </a>
         </div>
       </div>
       {% endif %}
       {% endfor %}
     </div>
</div>

<amp-carousel class="tablet-down" width="auto" height="450" type="slides" layout="fixed-height">
  {% for member in site.data.team | sample %}
  {% if member.status == 'active' %}
  <div class="card">
    <div class="card__image">
      <a title="{{ member.name }}" href="{{ member.url }}">
        <amp-img src="{{ site.url }}/assets/team/{{ member.pic }}.jpg" width="300" height="200" layout="responsive" alt="{{ member.name }}" class="mb3"></amp-img>
      </a>
    </div>
  </div>
{% endif %}
{% endfor %}
</amp-carousel>
