---
layout: page
title: 'TEDxAmstelveen 2019 Archief - Thema: Once Upon a Time'
description: 'TEDxAmstelveen 2019 Archief - Thema: Once Upon a Time'
comments: false
permalink: "/2019/"
nav: 2018

---
<p>Een uitverkochte Stadsschouwburg vormde het decor van de tweede editie van TEDxAmstelveen op 14 april 2019, met als thema ‘Once Upon a Time’. De bezoekers werden getrakteerd op maar liefst negen inspirerende TEDx talks, die hieronder terug te kijken zijn. In ons nieuwsarchief vind je alle berichtgeving rondom de sfeervolle en zeer geslaagde eerste editie van TEDxAmstelveen.</p>


<p><a href="{{site.url}}/tags/#Once_Upon_a_Time" title="TEDxAmstelveen Nieuwsarchief 2019">Nieuwsarchief 2018</a></p>

<div class="card-container">
  {% for member in site.data.sprekers %}
    {% if member.status == 'active' and member.year == '2019' %}
    <div class="author-section mb4">
      <a title="{{ member.name }}" href="{{ member.url }}">
        <amp-img src="{{ site.url }}/assets/sprekers/{{ member.pic }}.jpg" width="100" height="100" layout="responsive" alt="{{ member.name }}" class="author-thumb-post"></amp-img>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
