<footer class="ampstart-footer flex flex-column items-center px3">
    {% include social.html %}
        <ul class="list-reset flex flex-wrap mb3">
            {% for entry in site.data.connect %}
                {% if entry.url == current_page %}
                    {% assign current = current %}
                {% else %}
                    {% assign current = null %}
                {% endif %}
          <li class="px1">
              <a class="text-decoration-none ampstart-label" href="{{ site.url }}{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <ul class="list-reset flex flex-wrap mb3">
          {% for entry in site.data.navigation-archive %}
          <li class="px1">
              <a class="text-decoration-none ampstart-label" href="{{ site.url }}{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
          </li>
          {% endfor %}
        </ul>

    <nav class="ampstart-footer-nav">
      <ul class="list-reset flex flex-wrap mb3">
      {% for entry in site.data.navigation %}
        <li class="px1">
            <a class="text-decoration-none ampstart-label" href="{{ site.url }}{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>

    <small>
  		&copy; {{ site.time | date: '%Y' }}, last updated {{ site.time | date: "%H:%M %d %B %Y"  }}
      <a href="{{site.url}}" title="{{ site.title }}">{{site.domain}}</a> &nbsp; | &nbsp;  All Rights Reserved.
    </small>
</footer>
