<!-- Start Navbar -->
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2  ">☰
    </div>
    {% if site.logo %}
    <a href="{{site.url}}" title="{{site.title}}">
      <amp-img src="{{site.url}}/{{site.logo}}" width="250" height="75" layout="fixed" class="my0 mx-auto" alt="{{ site.title }}"></amp-img>
    </a>
    {% endif %}
    {% if site.form %}
    <div class="formlogo">
      <a href="{{site.form}}" title="{{site.title}} - {{site.fromtitle}}">
        <amp-img src="{{site.url}}/{{site.formlogo}}" width="250" height="25" layout="fixed" class="my0 mx-right" alt="{{ site.title }} - {{site.fromtitle}}"></amp-img>
      </a>
    </div>
    {% endif %}
  </header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3  " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <div class="list-reset m0 p0 ampstart-label">
        {% for entry in site.data.navigation %}
            {% if entry.url == current_page %}
                {% assign current = current %}
            {% else %}
                {% assign current = null %}
            {% endif %}
      <div class="ampstart-nav-item ampstart-nav-dropdown relative {{ current }}">
          <div class="ampstart-menu-item"><a href="{{ site.url }}{{ entry.url }}" class="text-decoration-none" title="{{ entry.title }}">{{ entry.title }}</a></div>
      </div>
      {% endfor %}
    </div>
  {% include social.html %}
  <h3>Archief</h3>
    <div class="list-reset m0 p0 ampstart-label">
        {% for entry in site.data.navigation-archive %}
            {% if entry.url == current_page %}
                {% assign current = current %}
            {% else %}
                {% assign current = null %}
            {% endif %}
      <div class="ampstart-nav-item ampstart-nav-dropdown relative {{ current }}">
          <div class="ampstart-menu-item"><a href="{{ site.url }}{{ entry.url }}" class="text-decoration-none" title="{{ entry.title }}">{{ entry.title }}</a></div>
      </div>
      {% endfor %}
    </div>
    <h3>Connect</h3>
      <div class="list-reset m0 p0 ampstart-label">
          {% for entry in site.data.connect %}
              {% if entry.url == current_page %}
                  {% assign current = current %}
              {% else %}
                  {% assign current = null %}
              {% endif %}
        <div class="ampstart-nav-item ampstart-nav-dropdown relative {{ current }}">
            <div class="ampstart-menu-item"><a href="{{ entry.url }}" class="text-decoration-none" title="{{ entry.title }}">{{ entry.title }}</a></div>
        </div>
        {% endfor %}
      </div>
  </nav>
</amp-sidebar>
