<ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
  {% if site.twitter %}
  <li>
    <a target="_blank" rel="noopener" title="Twitter {{site-title}}" href="https://twitter.com/{{site.twitter}}"><i class="fa fa-twitter-square fa-2x"></i></a>
  </li>
  {% endif %}
  {% if site.facebook %}
  <li>
    <a target="_blank" rel="noopener" title="Facebook {{site-title}}" href="https://facebook.com/{{site.facebook}}"><i class="fa fa-facebook-square fa-2x"></i></a>
  </li>
  {% endif %}
  {% if site.instagram %}
  <li>
    <a target="_blank" rel="noopener" title="instagram {{site-title}}" href="https://instagram.com/{{site.instagram}}"><i class="fa fa-instagram fa-2x"></i></a>
  </li>
  {% endif %}
  {% if site.youtube %}
  <li>
    <a target="_blank" rel="noopener" title="Youtube {{site-title}}" href="https://www.youtube.com/channel/{{site.youtube}}"><i class="fa fa-youtube-square fa-2x"></i></a>
  </li>
  {% endif %}
  {% if site.flickr %}
  <li>
    <a target="_blank" rel="noopener" title="Flickr {{site-title}}" href="https://www.flickr.com/photos/{{site.flickr}}"><i class="fa fa-flickr fa-2x"></i></a>
  </li>
  {% endif %}
</ul>
