<ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
  {% if site.twitter %}
  <li>
    <a target="_blank" rel="noopener" title="Twitter {{site-title}}" href="https://twitter.com/{{site.twitter}}"><span class="socicon-twitter"></span></a>
  </li>
  {% endif %}
  {% if site.facebook %}
  <li>
    <a target="_blank" rel="noopener" title="Facebook {{site-title}}" href="https://facebook.com/{{site.facebook}}"><span class="socicon-facebook"></span></a>
  </li>
  {% endif %}
  {% if site.instagram %}
  <li>
    <a target="_blank" rel="noopener" title="instagram {{site-title}}" href="https://instagram.com/{{site.instagram}}"><span class="socicon-instagram"></span></a>
  </li>
  {% endif %}
  {% if site.youtube %}
  <li>
    <a target="_blank" rel="noopener" title="Youtube {{site-title}}" href="https://www.youtube.com/channel/{{site.youtube}}"><span class="socicon-youtube"></span></a>
  </li>
  {% endif %}
  {% if site.flickr %}
  <li>
    <a target="_blank" rel="noopener" title="Flickr {{site-title}}" href="https://www.flickr.com/photos/{{site.flickr}}"><span class="socicon-flickr"></span></a>
  </li>
  {% endif %}
</ul>
