---
title: Niels van Buren
layout: page
description: Niels van Buren
assets: assets/sprekers/niels-van-buren.jpg
social: assets/sprekers/social/niels-van-buren.jpg
height: 150
width: 150
linkedin: nielsvanburen
twitter: nielsvanburen
instagram: nielsvanburen
facebook: niels.vanburen.9
tedx-youtube-video: uIPn1TFy68U
nav: members

---
{% include img.html %}

<p>We kunnen zo veel meer bereiken dan we denken als we met onze tegenslagen om kunnen gaan. Wat als het ons lukt om tegenslag te gebruiken om onze dromen te realiseren? <span class="redx">Niels</span> gaat ons door middel van zijn tegenslagen begeleiden naar de top van zijn Mount Everest!  We klimmen samen langzaam maar zeker naar 8.848 meter, waarbij we telkens een beetje meer tegenslag achter ons laten.<p>

<p>Als sociaal ondernemer heeft Niels al een bewogen carrière achter de rug. Nu geeft hij via Swink, Content Marketing en Data Analytics, mensen met autisme een kans om mee te draaien in de wereld van contentmarketing.
Hij is mede oprichter van Stichting Mission Summit, met als doel het werven van fondsen voor onderzoek naar MS.<p>

<p>Niels <span class="redx">x</span> Ondernemer <span class="redx">x</span> MS <span class="redx">x</span> Tegenslag <span class="redx">x</span> Swink <span class="redx">x</span> Mount Everest <span class="redx">x</span><p>

{% include tedx-youtube-video.html %}
