---
title: Tim Kanis
layout: page
description: Tim Kanis
assets: assets/sprekers/tim-kanis.jpg
social: assets/sprekers/social/tim-kanis.jpg
assets1: assets/sprekers/topic/tim-kanis.jpg
height: 150
width: 150
linkedin:
twitter:
instagram:
facebook:
website:
tedx-youtube-video:
nav: members
banner: yes
---
{% include img.html %}

<p>What the world needs now is….. een plek waar je echt jezelf kunt zijn.</p>
<p>Op school is het niet altijd veilig! Grappen, vooroordelen en pesten en een continu wijzigende sociale rangorde. Hoe vind je een plek waar je echt jezelf kan zijn? Tim is 17 jaar en vertelt over hoe hij zijn plek gevonden heeft.</p>

{% include tedx-youtube-video.html %}

<div class="author-section mb4">
  <a title="{{ page.title }}" href="{{ page.url }}">
    <amp-img class="author-post" height="315" width="700" alt="{{ page.title }}" layout="responsive" src="{{ site.url }}/{{ page.assets1 }}"></amp-img>
  </a>
</div>
