---
title: David Gardenier
layout: page
description: David Gardenier
assets: assets/sprekers/david-gardenier.jpg
social: assets/sprekers/social/david-gardenier.jpg
assets1: assets/sprekers/topic/david-gardenier.jpg
height: "150"
width: "150"
linkedin: david-gardenier-913982112
twitter: davidgardenier
instagram: 
facebook: 
website: https://www.davidgardenier.com/
tedx-youtube-video: uJBwzn0nuiY
nav: members
banner: true

---
{% include img.html %}

<p>What the world needs now is ... to find comfort in the unknown.</p>
<p>As a society, we're increasingly facing complex issues. Where better to look for advice than to a person who deals daily with the cosmic-sized conundrums? On the 8th of November 2020 astronomer David Gardenier from the University of Amsterdam will guide us on a journey to find the answers we're looking for..</p>

<p>NB. This talk will be in English</p>

{% include tedx-youtube-video.html %}

<div class="author-section mb4">
  <a title="{{ page.title }}" href="{{ page.url }}">
    <amp-img class="author-post" height="315" width="700" alt="{{ page.title }}" layout="responsive" src="{{ site.url }}/{{ page.assets1 }}"></amp-img>
  </a>
</div>
