---
title: Tania Mulder
layout: page
description: Tania Mulder
assets: assets/sprekers/tania-mulder.jpg
social: assets/sprekers/social/tania-mulder.jpg
assets1: assets/sprekers/topic/tania-mulder.jpg
height: 150
width: 150
linkedin: tania-mulder-756119aa
twitter: goedeminaar
instagram:
facebook: coachTaniaMulder
website: https://www.goedeminnaar.nl/
tedx-youtube-video:
nav: members
banner: yes
---
{% include img.html %}

<p>What the world needs now is …. een gezond liefdesleven.</p>
<p>We doen het allemaal en we vinden er allemaal wat van. Maar we praten er niet over. De enige informatie die we tot ons krijgen is vaak van internet en dit is meestal platte seks. Meer dan 60% van de Nederlanders is niet tevreden of heeft issues in bed. Denk aan; geen zin, moeilijk of te snel klaarkomen en pijn tijdens het vrijen. Tania Mulder is intimiteitscoach en heeft een bloeiende praktijk waarin ze stellen helpt met hun liefdesleven. Na Tania’s talk zullen veel seksuele relaties dan ook ingrijpend veranderen en de wereld een stuk liefdevoller worden.</p>

{% include tedx-youtube-video.html %}

<div class="author-section mb4">
  <a title="{{ page.title }}" href="{{ page.url }}">
    <amp-img class="author-post" height="315" width="700" alt="{{ page.title }}" layout="responsive" src="{{ site.url }}/{{ page.assets1 }}"></amp-img>
  </a>
</div>
