---
redirect_from: "/sponsors/"
layout: page
title: TEDxAmstelveen Partners
description: Overzicht van alle sponsoren van TEDxAmstelveen.
comments: false
permalink: "/partners/"
nav: sponsors

---

<p>TEDxAmstelveen 2019 werkt samen met onderstaande geweldige partners. Onze partners steunen ons op veel verschillende manieren, financieel of in natura, zoals: gebruik van hun gebouwen, kennis en advies, inrichting decor, aankleding, etc.
Ons succes hebben wij voor een groot deel te danken aan onze partners, die wij via deze weg willen bedanken voor deze fantastische samenwerking. Zonder onze partners zou het niet mogelijk zijn om ons evenement kostendekkend en toch laagdrempelig te houden.</p>

<p>We zijn altijd op zoek naar nieuwe partners die hun naam willen verbinden aan TEDxAmstelveen 2019.</p>
<p>Benieuwd wat er mogelijk is? Neem voor meer informatie contact op met <a title="Yigael van der Hoeven" href="http://tedxamstelveen.com/team/yigael-van-der-hoeven/">Yigael van der Hoeven</a> op telefoonnummer <a href="tel:06-15649815">06-15649815</a> of via e-mail <a href="mailto:hallo@tedxamstelveen.com?subject=Contact%20TEDxAmstelveen" title="TEDxAmstelveen Contact">hallo@tedxamstelveen.com</a></p>

<div class="card-container">
  {% for member in site.data.partners %}
    {% if member.status == 'active' %}
      {% if member.level == 'gold' %}
      <div class="card gold">
        <div class="card__image">
          <a title="{{ member.name }}" href="{{ member.url }}">
            <amp-img src="{{ site.url }}/assets/sponsors/{{ member.pic }}.jpg" width="300" height="100" layout="responsive" alt="{{ member.name }}" class="mb3"></amp-img>
          </a>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
<hr class="partner">
<div class="card-container">
  {% for member in site.data.partners %}
      {% if member.status == 'active' %}
      {% if member.level == 'silver' %}
      <div class="card silver">
        <div class="card__image">
          <a title="{{ member.name }}" href="{{ member.url }}">
            <amp-img src="{{ site.url }}/assets/sponsors/{{ member.pic }}.jpg" width="300" height="100" layout="responsive" alt="{{ member.name }}" class="mb3"></amp-img>
          </a>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
<hr class="partner">
<div class="card-container">
  {% for member in site.data.partners %}
      {% if member.status == 'active' %}
      {% if member.level == 'bronze' %}
      <div class="card bronze">
        <div class="card__image">
          <a title="{{ member.name }}" href="{{ member.url }}">
            <amp-img src="{{ site.url }}/assets/sponsors/{{ member.pic }}.jpg" width="300" height="100" layout="responsive" alt="{{ member.name }}" class="mb3"></amp-img>
          </a>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
