---
redirect_from: "/sponsors/"
layout: page
title: TEDxAmstelveen Partners
description: Overzicht van alle sponsoren van TEDxAmstelveen.
comments: false
permalink: "/partners/"
nav: sponsors

---
<p>De eerste editie van TEDxAmstelveen in 2018 was in alle opzichten zeer geslaagd. Dit succes hebben wij voor een groot deel te danken aan onze partners, die wij via deze weg nogmaals willen bedanken voor de fantastische samenwerking.
Voor TEDxAmstelveen 2019 hebben wij de lat voor onszelf nog een stuk hoger gelegd. Met een flink uitgebreid team van enthousiaste vrijwilligers zetten we in op minimaal een verdubbeling van het aantal bezoekers, die wij bovendien nóg betere TEDx talks willen voorschotelen.</p>

<p>Om het evenement ook in 2019 kostendekkend en toch laagdrempelig te houden, doen wij wederom een beroep op mogelijke partners. We zijn op zoek naar bedrijven met een binding met Amstelveen, die hun naam willen verbinden aan TEDxAmstelveen 2019. Dit kan middels een financiële bijdrage, maar wij denken ook aan andere vormen van samenwerking. In alle gevallen staat – uiteraard – voorop dat beide partijen gediend zijn met een partnership.</p>

<p>Benieuwd wat er mogelijk is? Neem voor meer informatie contact op met <a title="Yigael van der Hoeven" href="http://tedxamstelveen.com/team/yigael-van-der-hoeven/">Yigael van der Hoeven</a> op telefoonnummer 06-15649815 of via e-mail <a href="mailto:hallo@tedxamstelveen.com?subject=Contact%20TEDxAmstelveen" title="TEDxAmstelveen Contact">hallo@tedxamstelveen.com</a></p>

<p>De uitverkochte eerste editie van TEDxAmstelveen in 2018 werd mede mogelijk gemaakt door de geweldige hulp van:
</p>

<div class="card-container">
  {% for member in site.data.sponsors %}
    {% if member.status == 'active' %}
      <div class="card">
        <div class="card__image">
          <a title="{{ member.name }}" href="{{ member.url }}">
            <amp-img src="{{ site.url }}/assets/sponsors/{{ member.pic }}.jpg" width="300" height="100" layout="responsive" alt="{{ member.name }}" class="mb3"></amp-img>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>