---
title: Merel Funke
layout: page
description: Merel Funke  TEDxAmstelveen
keywords:
image: merel-funke.jpg
imagedir: team
height: 200
width: 200
linkedin: merelfunke
twitter:
---

{% include img.html %}

<p>Merel Funke</p>

<p>Amstelveen. De stad waar ik ben opgegroeid, ben weggegaan en thuisgekomen.</p>
<p>Door het organiseren van TEDxAmstelveen leer ik Amstelveen nu op een andere manier kennen. TEDx biedt een podium aan alle mensen met ideeën die een positieve verandering in de wereld kunnen betekenen.</p>
<p>En daar word ik blij van! Van nature ben ik nieuwsgierig naar mensen en nieuwe dingen en dat komt in TEDx goed samen. Als event planner zet ik mijn enthousiasme en energie dan ook graag in om ervoor te zorgen dat iedereen op 16 maart een mooie middag beleeft!</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
