---
title: Frank Bossema
layout: default
description: Frank Bossema - Sprekerscoach TEDxAmstelveen
keywords: 
image: frank-bossema.jpg
imagedir: team
height: 200
width: 200
linkedin: frankbossema
twitter: 
---

{% include img.html %}

<p>Frank is trainer/coach en mede-eigenaar van 12Mprove, een adviesbureau gericht op continu verbeteren. Door zijn jarenlange ervaring als trainer weet Frank als geen ander hoe belangrijk het is om contact te maken met het publiek en ze echt te raken als je impact wilt hebben met een verhaal. </p><p>Enthousiast, bevlogen en ad rem zijn enkele eigenschappen die maken dat Frank al jaren achterheen een succesvolle spreker en trainer is met een gemiddelde beoordeling van een 9,5. Naast zijn werk als trainer, coacht hij management en medewerkers die aan de slag willen met de manier van werken die leidt tot het continu verbeteren van de eigen prestaties.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
