---
title: Mandy Phoa
layout: page
description: Mandy Phoa - Sprekerscoach TEDxAmstelveen
keywords:
image: mandy-phoa.jpg
imagedir: team
height: 200
width: 200
linkedin: mandyphoa
twitter:
instagram: Mambitieus
website: http://www.meian.nl/index.php/mandy-phoa/
---

{% include img.html %}

<p>Mandy Phoa is zelfstandig ondernemer en vervult de rollen van coach, trainer, facilitator en spreker. Met haar enthousiasme, drive en energie weet zij het beste uit mensen en organisaties te halen. Zo ook versterkt zij het TEDx Amstelveen team als sprekerscoach.</p><p>Ze kijkt er enorm naar uit om de spreker daar waar nodig uit te dagen, verder te helpen en er mede aan bij te dragen dat zijn/haar talk inspirerend is. Ze woont sinds 2010 in Amstelveen en houdt tevens haar praktijk daar.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
{% include social-instagram.html %}
{% include social-website.html %}
