---
title: Mariëlle Vermeulen
layout: page
description: Mariëlle Vermeulen
assets: assets/sprekers/marielle-vermeulen.jpg
social: assets/sprekers/social/marielle-vermeulen.jpg
assets1: assets/sprekers/topic/marielle-vermeulen.jpg
height: "150"
width: "150"
linkedin: mariëlle-vermeulen-778191155
twitter: 
website: https://mariellevermeulen.nl/
instagram: ervaringsdeskundige_tos
facebook: jewarekracht
tedx-youtube-video: 
nav: members
banner: true

---
{% include img.html %}

<p>What the world needs now is …. taal</p>
<p>Taal is ontzettend belangrijk als je elkaar wilt begrijpen. Dat dit niet vanzelfsprekend is weet Marielle Vermeulen. Marielle heeft TOS, dit staat voor Taalontwikkelingsstoornis. TOS is een neurocognitieve ontwikkelingsstoornis. Dit betekent dat taal in de hersenen minder goed wordt verwerkt. Een kind met TOS heeft bijvoorbeeld grote moeite met praten of het begrijpen van taal.</p>
<p>Marielle is geboren in Amstelveen en gaat ons op 8 november 2020 anders tegen taal aan laten kijken.</p>

{% include tedx-youtube-video.html %}

<div class="author-section mb4">
  <a title="{{ page.title }}" href="{{ page.url }}">
    <amp-img class="author-post" height="315" width="700" alt="{{ page.title }}" layout="responsive" src="{{ site.url }}/{{ page.assets1 }}"></amp-img>
  </a>
</div>
