---
title: Piet Sprengers
layout: page
description: Piet Sprengers
assets: assets/sprekers/piet-sprengers.jpg
social: assets/sprekers/social/piet-sprengers.jpg
assets1: assets/sprekers/topic/piet-sprengers.jpg
height: "150"
width: "150"
linkedin: pietsprengers
twitter: pietsprengers
instagram: 
facebook: 
tedx-youtube-video: 
nav: members
banner: true

---
{% include img.html %}

<p>What the world needs now is…. duurzame keuzes.</p>
<p>Bijna dagelijks worden we geconfronteerd met berichten dat het belangrijk is om duurzame keuzes te maken, maar doen we het wel goed? Piet Sprengers is manager Duurzaamheidsstrategie bij de ASN Bank en houdt zich dagelijks bezig met deze duurzame keuzes. Wat is nu eigenlijk duurzaam en wat niet? Welke keuzes kunnen wij zelf makkelijk maken? Op 8 november 2020 vertelt hij waarom bewust kiezen helpt de keuzestress te verminderen.</p>

{% include tedx-youtube-video.html %}

<div class="author-section mb4">
  <a title="{{ page.title }}" href="{{ page.url }}">
    <amp-img class="author-post" height="315" width="700" alt="{{ page.title }}" layout="responsive" src="{{ site.url }}/{{ page.assets1 }}"></amp-img>
  </a>
</div>
